@model IEnumerable<LamQuenVoiSession.Models.User>

@{
    ViewData["Title"] = "Index";
}
@inject IHttpContextAccessor htppContextAccessor
@{
    var username = htppContextAccessor.HttpContext.Session.GetString("username");
}
@if(string.IsNullOrEmpty(username))
{
    <h1>Bạn chưa đăng nhập để sử dụng tính năng này</h1>
}
else
{
    <h1>Quản lý tài khoản</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

